* {
  box-sizing: border-box;
}

h1
{
	text-align: center;
}
.head{
	text-align: center;
	background-color: #f9f9f9;
}

.profil-img{
	border-radius: 300px;

}



@media (max-width: 800px) {
  .column {
    width: 100%;
  }
}



